
*.swp

vim/.netrwhist
vim/dein

.config/i3/wallpaper/*
.config/i3/enable/*.conf
.config/i3/*lock.png

.config/sway/wallpaper
.config/sway/enable/*.conf
.config/sway/*lock.png

.config/zsh/.zcompcache/

mlterm/msg.log
mlterm/pts_*
mlterm/challenge

.config/zsh/.zcompdump*

.config/environment.d/10-home-manager.conf
.config/environment.d/*.backup

.config/claude/*
!.config/claude/CLAUDE.md
!.config/claude/settings.json
!.config/claude/commands/*
