
vim/.netrwhist
vim/dein

.config/i3/wallpaper/*
.config/i3/enable/*.conf
.config/i3/*lock.png

.config/sway/wallpaper
.config/sway/enable/*.conf
.config/sway/*lock.png

mlterm/msg.log
mlterm/pts_*
mlterm/challenge

.config/zsh/.zcompdump*
