/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

/* The whole bar */
#waybar {
    background: #333333;
    color: #ffffff;
    font-size: 14px;
    opacity: 0.9;
}

/* warning */
#battery.warning,#cpu.warning,#memory.warning, #network.disconnected, #pulseaudio.muted {
    color: orange;
}
/* critical */
#battery.critical,#cpu.critical,#memory.critical {
    color: red;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces button {
    min-width: 30px;
	margin: 10px 4px 0 10px;
    border-radius: 20px;
    background-color: rgba(250,235,215,1);
    color: #282a16;
}

#workspaces .active, #workspaces .focused {
    border-radius: 20px;
    background-color: #14e5fd;
}

#workspaces button.urgent {
    background-color: red;
}

/* reset without workspaces */
#cpu,#memory,#network, #battery,#temperature,#pulseaudio,#backlight, #tray {
	border-radius: 0;
	padding: 0 10px 0;
	margin: 0;
}


#cpu,#memory,#network {
    background: linear-gradient(to bottom, #bcfff7 0%, #a2febd 50%, #62eead  51%, #4cd9b3 100%);
    color: rgba(90,90,90,1);
}


#battery,#temperature,#pulseaudio,#backlight {
    background: linear-gradient(to bottom,  #fefabb 0%, #eaea6d 50%, #deda53 51%,#fbf983 100%); 
    color: rgba(90,90,90,1);
}

#mpris {
    background-image: linear-gradient(to bottom, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: rgba(90,90,90,1);
}


#clock {
    font-weight: bold;
    margin: 0 5px 0;
    color: lightgray;
    background: #333333;
}

#tray {
    margin: 0 5px 0;
    background: linear-gradient(167deg, #30cfd0 0%, #330867 100%);
    border-radius: 20px;
}


/* left */
#cpu,#battery {
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}
#mpris.left {
    border-radius: 20px 0px 0px 20px;
    margin-left: 10px;
}

/* right */
#network,#backlight,#mpris.right {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
#mpris.right {
    border-radius: 0px 20px 20px 0px;
    margin-right: 10px;
}
