/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: "RobotoMono Nerd Font", sans-serif;
}

/* The whole bar */
#waybar {
    color: lightgray;
    font-size: 14px;
}

tooltip , #tray menu{
	background: #333333
}

/* warning */
#battery.warning,#cpu.warning,#memory.warning, #network.disconnected, #pulseaudio.muted {
    color: orange;
}
/* critical */
#battery.critical,#cpu.critical,#memory.critical {
    color: red;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces button {
    min-width: 30px;
	margin: 5px 0px 5px 8px;
    border-radius: 20px;
    color: #282a16;
    background-color: rgba(150,135,115,1);
}

#workspaces .active, #workspaces .focused {
    border-radius: 20px;
    background-color: blanchedalmond;
    /* background-color: rgba(100,85,65,1); */
}

#workspaces button.urgent {
    background-color: red;
}

#submap, #mode {
    background-color: crimson;
    border-radius: 12px;
	margin: 5px 0px 5px 20px;
	padding: 0 10px 0;
}

/* reset without workspaces */
#cpu,#memory,#network, #battery,#temperature,#pulseaudio,#backlight, #tray {
	padding: 0 10px 0;
}


#resource {
	border-radius: 10px;
    margin: 0 10px 0;
    background: linear-gradient(to bottom, rgb(211, 255, 245) 0%, rgb(198, 255, 225) 50%, rgb(185, 244, 224)  51%, rgb(165, 255, 215) 100%);
    color: rgba(90,90,90,1);
}


#power {
	border-radius: 10px;
    margin: 0 10px 0;
    background: linear-gradient(to bottom ,  rgb(254,254,231) 0%, rgb(254,254,188) 50%, rgb(244,244, 165) 51%, rgb(244,244, 195) 100%);
    /* background: linear-gradient(to bottom ,  rgb(244,244,241) 0%, rgb(207,207,202) 50%, rgb(197,197, 195) 51%, rgb(210,210,210) 100%); */
    color: rgba(90,90,90,1);
}

#mpris {
    background: linear-gradient(to bottom, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color: rgba(90,90,90,1);
}
#mpris.left {
    border-radius: 20px 0px 0px 20px;
    margin-left: 10px;
}
#mpris.right {
    border-radius: 0px 20px 20px 0px;
    margin-right: 10px;
}


#clock,#custom-notification {
    font-weight: bold;
    margin: 0 5px 0;
}

#tray {
    margin: 0 5px 0;
    background: linear-gradient(167deg, #30cfd0 0%, #330867 100%);
    border-radius: 20px;
}

